@font-face {
    font-family: "lato";
    src: url(Lato-Regular.ttf);
}

/* Grundinställningar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    background-color: #17203D;
    color: #fff;
    display: flex;
    flex-direction: column; /* Staplar elementen vertikalt */
    justify-content: flex-start; /* Justerar från toppen */
    align-items: center; /* Centrerar horisontellt */
    height: 100vh; /* Täcker hela fönstret */
    gap: 20px; /* Mellanrum mellan sektionerna */
    max-width: 800px; /* Begränsar sidans bredd */
    margin: 0 auto; /* Centrerar sidan horisontellt */
}

/* Header */
#header {
    background-color: #6552D0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#header p {
    font-size: 1.2em;
    color: #e0e0e0;
}

/* Introduktion */
#intro {
    text-align: center;
    background-color: #1E2A50;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 10px;
}

/* Ingredienser */
#ingredients {
    background: #6552D0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#ingredients h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
    font-weight: bold;
}

#ingredients ul {
    list-style: none;
    line-height: 30px;
}

#ingredients li::before {
    content: "•"; /* Anpassad punkt */
    color: #fff;
    font-size: 1.2em;
    margin-right: 10px;
}

/* Instruktioner */
#instructions {
    background-color: #1E2A50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#instructions h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

#instructions p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    background-color: #6552D0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
